html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /* === reset === */
 
 body{
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.main_intro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/main_intro_bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 99999999;
  animation-name: IntroOpa;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes IntroOpa {
  0% {
    opacity: 30%;
  }

  100% {
    opacity: 100%;
  }
}

.main_intro .circle {
  position: absolute;
  width: 64px;
  height: 64px;
  line-height: 64px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #455a4b;
  border-radius: 100%;
  backface-visibility: hidden;
  font-size: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  animation-name: circleP;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  z-index: 99;
}

.main_intro .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 81px;
  height: 81px;
  border: 1px solid #455a4b;
  border-radius: 100%;
}

@keyframes circleP {
  0% {
    box-shadow: 0 0 0 0 rgba(69, 90, 75, 0.6);
  }

  100% {
    box-shadow: 0 0 0 30px rgba(69, 90, 75, 0);
  }
}

.main_intro .intro_art {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 15px;
}

.intro_art * {
  color: #fff;
  text-align: center;
}

.intro_art .intro_txtBox {
  position: relative;
  padding-bottom: 40px;
}

.intro_bar {
  width: 1px;
  height: 0;
  background: #fff;
  margin: 0 auto;
  animation-name: IntroBar;
  animation-duration: 1s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
}

@keyframes IntroBar {
  0% {}

  100% {
    height: 136px;
  }
}

.intro_logo {
  padding-top: 40px;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}
.intro_logo img{
  max-width: 250px;
}

.intro_art .intro_txtBox h3 {
  font-size: 20px;
  font-weight: 500;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 2.8s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.intro_art .intro_txtBox h5{
  font-size: 25px;
  font-weight: bold;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 2.8s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  margin: 7px 0;
}

.intro_art .intro_txtBox p {
  font-size: 13px;
  font-weight: 400;
  line-height: 150%;
  opacity: 0;
  animation-name: fadeIn;
  animation-delay: 2.8s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

.main_intro .intro_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main_intro .intro_bg div {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 100%;
  animation-name: introBg;
  animation-duration: 2.5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes introBg {
  0% {}

  100% {
    width: 200%;
    padding-bottom: 200%;
    margin-top: -100vw;
    left: -50%;
  }
}

.main_intro .intro_bg div span {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0px;
  background: url(./img/main_intro_bg2.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.intro-mobile-circle {
  display: none;
}

@media(max-width:1200px) {
  .pc-circle {
    display: none;
  }

  .intro-mobile-circle {
    display: block;
  }

  .intro-mobile-circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #455a4b;
    border-radius: 100%;
    backface-visibility: hidden;
    font-size: 16px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    animation-name: circleP;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
    transition: 1s;
    opacity: 0;
  }

  .intro-mobile-circle.on {
    opacity: 1;
  }

  .intro-mobile-circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    border: 1px solid #455a4b;
    border-radius: 100%;
  }

  @keyframes IntroBar {
    0% {}

    100% {
      height: 100px;
    }
  }
}

@media(max-width:767px) {

  @keyframes IntroBar {
    0% {}

    100% {
      height: 50px;
    }
  }

  .main_intro .circle {
    opacity: 0;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    top: initial;
    left: initial;
    right: initial;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transition: all 0.3s ease-in;
    transition-delay: 1s;
  }

  .main_intro .circle.on {
    opacity: 1;
  }
  
}


@media(max-width:380px){
  .intro_art .intro_txtBox h3 {
    font-size: 16px;
  }
  
  .intro_art .intro_txtBox h5{
    font-size: 21px;
  }
  
  .intro_art .intro_txtBox p {
    font-size: 12px;
  }
}
/* ====intro==== */